database_url =postgresql+asyncpg://db_user:db_password@db_host:5432/my_db_name
frontend_url = http://localhost:5173

jwt_access_secret=jwt_access_secret(must be 32 characters long)
jwt_refresh_secret=jwt_refresh_secret(must be 32 characters long)
